{% extends "layout.jinja2" %}

{%- block content %}
<div class="alert alert-danger">
  <h4><strong>{{error_type}}</strong></h4>
  {%- for m in error_messages %}
  <p>{{m|safe}}</p>
  {% endfor %}
</div>
{%- if technical_messages %}
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#technical_info">Show technical info</button>
<div id="technical_info" class="collapse out">
  {%- for m in technical_messages %}
  <pre>{{m|safe}}</pre>
  {% endfor %}
</div>
{% endif -%}
{% endblock content -%}
