{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>{{title}}</h1>
  {%- if not request.authenticated_userid %}
  <p>You must <a href="login">login</a> to use this web site. If you do not already have an account, you can <a href="register">register</a>.</p>
  {%- elif not request.has_permission('cati_manager_valid_user') -%}
  Your account is not validated yet. You will receive an email when a moderator take a decision about your registration request.
  {%- else -%}
  {%- for d in dashboards %}
    {%- import 'data/' + d.item_type + '.jinja2' as data_type -%}
    <h2>{{data_type.title()|safe}}</h2>
    {% for item in d['items'] %}
      {%- set item_id = 'item_' ~ loop.index -%}
      {{data_type.item(item, item_id)|safe}}
    {% endfor -%}
  {%- endfor -%}
  {% endif %}
</div>
{% endblock content %}
