{% extends "layout.jinja2" %}
{% block content %}

{% if message -%}
<center><font color="red">{{ message|e }}</font></color><br/>
{%- endif %}
<form action="{{ url }}" method="post">
  <input type="hidden" name="came_from"
         value="{{ came_from }}"/>
  <div class="form-group">
    <label for="login">Login or email</label>
    <input type="text" class="form-control" id="login" name="login" placeholder="Login or email"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
  </div>
  <button name="form.submitted" type="submit" class="btn btn-default">Submit</button>
</form>{% endblock content %}
