{% macro render_form(db_info, button) %}
<form class="form-horizontal" method="post">
{%- for column in db_info.columns -%}
  {%- if column.visible|default(true) -%}
    {%- set label = column.label|default(column.id) %}
    {{caller(column.id, label, column)}}
    {%- if column.double_check %}
    {{caller('check_' + column.id, 'Check ' + label, column)}}
    {%- endif -%}
  {%- endif -%}
{%- endfor %}
{{form_button(button)}}
</form>
{% endmacro %}

{%- macro form_item(id, label, column) -%}
    {%- if column.data_type in ('text', 'bytea') -%}
      <div class="form-group" name="{{id}}">
        <label class="col-xs-2 control-label" for="{{id}}">{{label|safe}}:&nbsp;</label>
        <div class="col-xs-10 col-sm-9"><input name="{{id}}" type="{{column.html_type|default('text')}}" class="form-control"></div>
      </div>
    {%- else -%}
      <font color="red"><b>{{label|safe}}: cannot create widget for data type "{{column.data_type}}"</b></font>
    {%- endif -%}
{%- endmacro %}

{%- macro form_button(label) %}
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10 col-sm-9">
            <button type="submit" class="btn btn-default">{{label|safe}}</button>
        </div>
    </div>
{%- endmacro %}

{%- macro form(db_info, button) -%}
  {%- call(id, label, column) render_form(db_info, button)-%}
  {{form_item(id, label, column)}}
  {%- endcall -%}
{%- endmacro %}

