{%- from 'user.jinja2' import to_string as to_string -%}

{%- macro title(title='Users without verified email') -%}
<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{title}}
{%- endmacro %}

{%- macro item(item, item_id) -%}
    <p id="{{item_id}}" class="lead" style="margin-left: 40px">
    <a href="/user/{{item.login}}">{{to_string(item)}}</a> registered on {{item.registration_time}}
    <button class="btn btn-warning btn-xs" data-toggle="tooltip" title="Validate this user" onclick="validate_user('{{item.login}}', '{{item_id}}', true)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    <button class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete this user" onclick="delete_user('{{item.login}}', '{{item_id}}')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </p>
{%- endmacro %}
