{% extends "layout.jinja2" %}

{%- block content %}
{%- import 'data/form.jinja2' as form -%}
{%- import 'data/' + data_type + '.jinja2' as sform -%}
{%- if sform.form -%}
{{sform.form(db_info, button)}}
{%- else -%}
{{form.form(db_info, button)}}
{% endif -%}
{%- endblock content -%}
{%- block script %}
<script>
var data = {};
$(document).ready(function() {
  $('button[type="submit"]').on('click', function() {
      resetFeedback();
      var url = document.documentURI;
      $.each($('form input, form select'), function(i, v) {
          if (v.type !== 'submit') {
              data[v.name] = v.value;
          }
      }); //end each
      $.ajax({
          dataType: 'json',
          type: 'POST',
          url: url,
          data: data,
          success: function(resp, status, xhr) {
            var ct = xhr.getResponseHeader("content-type") || "";
            if (ct.indexOf('json') > -1) {
                if (resp.redirection) {
                    window.location.href = resp.redirection;
                } else {
                  $.each(resp, function(i, v) {
                    var msg = '<span class=" help-block">'+v+'</span>';
                    $('input[name="' + i + '"], select[name="' + i + '"]').after(msg).parent().addClass('has-error');
                  });
                  var keys = Object.keys(resp);
                  $('input[name="'+keys[0]+'"]').focus();
                }
            } else {
                document.open();
                document.write(resp.body);
                document.close();
            }
            return false;
          },
      }).fail(function(jqXHR, textStatus, errorThrown) {
        document.open();
        document.write(jqXHR.responseText);
        document.close();
      });
      return false;
  });
});
function resetFeedback() {
    $('form input, form select').parent().removeClass('has-error');
    $('span.help-block').remove();
}
</script>
{% endblock script -%}
