{% extends "layout.jinja2" %}

{% block content %}
<form>
  <table>
      <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>Defaultson</td>
          <td>def@somemail.com</td>
        </tr>      
      </tbody>
  </table>
</form>
{% endblock content %}
