{% extends "layout.html" %}

{%- set dashboard_callbacks = {} -%}

{% block content %}
<div class="content">
  <h1>{{title}}</h1>
  {% if not current_user.is_authenticated -%}
    <p>You must <a href="{{url_for('authentication.login')}}">login</a> to use this web site. If you do not already have an account, you can <a href="{{url_for('authentication.register')}}">register</a>.</p>
  {%- else -%}
    {% if current_user.has_credential('cati_portal.user_moderator') %}
        {% set users_info = namespace(active=0, inactive=0, others=[]) %}
        {% for user in users.list() %}
            {% if user.is_active %}
                {% set users_info.active = users_info.active + 1 %} 
            {% elif user.email_verification_time == none or  user.activation_time == none %}
                {% do users_info.others.append(user) %}
            {% else %}
                {% set users_info.inactive = users_info.inactive + 1 %} 
            {% endif %}
        {% endfor %}
        <h2>User moderation</h2>
        <p>{{users_info.active}} active user</p>
        <p>{{users_info.inactive}} inactive user</p>
        {% if users_info.others %}
            {%- import 'users.jinja2' as users_tpl -%}
            {{users_tpl.user_list_admin(users_info.others)}}
        {% endif %}
    {% endif %}
  {%- endif %}
</div>
{% endblock content %}

{%- block script %}
{%- for cls, cbk in dashboard_callbacks.items() %}
<script>
{{cbk|safe}}
</script>
{% endfor -%}
{% endblock -%}
