{% extends "layout.html" %}

{%- set dashboard_callbacks = {} -%}

{% block content %}
<div class="content">
  <h1>{{title}}</h1>
  {% if not current_user.is_authenticated -%}
    <p>You must <a href="{{url_for('authentication.login')}}">login</a> to use this web site. If you do not already have an account, you can <a href="{{url_for('authentication.register')}}">register</a>.</p>
  {%- else -%}
    {% if current_user.has_credential('cati_portal.user_moderator') %}
        {% set ns = namespace(pending=[]) %}
        {% for user in users.list() %}
            {% if not user.is_active and (user.email_verification_time == none or user.activation_time == none) %}
                {% do ns.pending.append(user) %}
            {% endif %}
        {% endfor %}
        {% if ns.pending %}
          <h2>Pending registrations</h2>
            {%- import 'users.jinja2' as users_tpl -%}
            {{users_tpl.user_list_admin(ns.pending)}}
        {% endif %}
    {% endif %}
  {%- endif %}
</div>
{% endblock content %}

{%- block script %}
{%- for cls, cbk in dashboard_callbacks.items() %}
<script>
{{cbk|safe}}
</script>
{% endfor -%}
{% endblock -%}
