{% extends "layout.html" %}

{%- set dashboard_callbacks = {} -%}

{% block content %}
<div class="content">
  <h1>{{title}}</h1>
  {%- if not current_user.is_authenticated %}
  <p>You must <a href="{{url_for('authentication.login')}}">login</a> to use this web site. If you do not already have an account, you can <a href="{{url_for('authentication.register')}}">register</a>.</p>
{#  {%- elif not request.has_permission('cati_manager_valid_user') -%}
  Your account is not validated yet. You will receive an email when a moderator take a decision about your registration request.
#}  {%- else -%}
  {{ current_user.username }}
  {%- for d in dashboards %}
    {%- import 'data/' + d.item_type + '.jinja2' as data_type with context -%}
    <h2>{{data_type.title()|safe}}</h2>
    {%- set form_index = loop.index -%}
    {% for item in d['items'] %}
      {%- set item_id = 'item_' ~ form_index ~ '_' ~ loop.index -%}
      {{data_type.item(item, item_id)|safe}}
    {% endfor -%}
  {%- endfor -%}
  {% endif %}
</div>
{% endblock content %}

{%- block script %}
{%- for cls, cbk in dashboard_callbacks.items() %}
<script>
{{cbk|safe}}
</script>
{% endfor -%}
{% endblock -%}
